.app-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  width: 100%;
  background-color: #570c27;
  color: white;
}

.header-left {
  display: flex;
  align-items: center;
}

.header-right {
  margin-right: 20px;
}

.logo {
  width: 40px;
  height: auto;
  margin-right: 10px;
}

.create-ride-button {
  background-color: #4b0f24; /* Match header background color */
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.create-ride-button:hover {
  background-color: #650f34; /* Slightly darker shade for hover effect */
}